{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="form-errors">
            {% for error in errors %}
                <p class="error-message">{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}